* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  background-color: black;
  color: white;
}

h1, h2 {
  text-align: center;
}

summary {
  list-style-type: none;
  margin: .5em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "▶";
  display: inline-block;
  margin-right: 0.5em;
  font-size: 1.17em; 
  transition: transform 0.2s ease;
  vertical-align: middle;
}

details[open] summary::before {
  transform: rotate(90deg);
}

.inputBox {
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  display: flex;
  border: 1px solid white;
  flex-wrap: wrap;
}

.buttonBox {
  width: 20em;
  gap: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.endpointButtons {
  margin-top: .5em;
}

.settingsParent {
  border: 1px solid white;
  margin: 1em;

}

.settingsBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.childBox {
  margin: 1em;
}

#statusBox, #errorBox {
  width: 15%;
}

#endpointBox {
  width: 50%;
}

#endpoint {
  width: 100%;
}

#transactionID {
  width: 100%;
}

button {
  padding: .5em;
}

input {
  height: 2em;
  font-size: 1.2em;
}

.resultBox {
  margin: 1em;
  margin-bottom: 2em;
  padding: 0 1em;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
}

.adressBox {
  width: 50%;
}

a {
  line-height: 1.5em;
  text-decoration: none;
  color: white;
}

footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  width: 100vw;
  border-top: 1px solid white;
  background-color: black;
  position: fixed;
  bottom: 0;
  height: auto;
}

footer p {
  margin: 1em;
}

#copyAdress {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#copyAdress:hover {
  color: #e07b00;
}

.tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position des Tooltips über dem Button */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%; /* Pfeil zeigt nach unten */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

#copyAdress.show-tooltip .tooltip {
  visibility: visible;
  opacity: 1;
}
