* {
  box-sizing: border-box;
}

body {
  padding: 0 1em;
  margin: 0;
  width: 100%;
  background-color: black;
  color: white;
}

h1, h2, h3 {
  text-align: center;
}

h3 {
  width: 100%;
}

.inputBox {
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
  display: flex;
  border: 1px solid white;
  flex-wrap: wrap;
  width: 100%;
}

.childBoxInput {
  width: 40%;
}

.buttonBox {
  width: 20em;
  gap: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.endpointButtons {
  margin-top: .5em;
}

.settingsBox {
  justify-content: space-between;
  margin: 1em 0;
  border: 1px solid white;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.childBox {
  margin: 1em;
}

#statusBox, #errorBox {
  width: 15%;
}

#endpointBox {
  width: 50%;
}

#endpoint {
  width: 80%;
}

#transactionID {
  width: 100%;
}

button {
  padding: 1em;
}

input {
  height: 2em;
  font-size: 1.2em;
}

.resultBox {
  border: 1px solid white;
  display: flex;
  padding: 0 1em;
  justify-content: space-between;
}

.adressBox {
  width: 50%;
}

a {
  line-height: 1.5em;
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: white;
  color: black;
}
