* {
  box-sizing: border-box;
}

body {
  padding: 0 1em;
  margin: 0;
  width: 100%;
  background-color: black;
  color: white;
}

h1, h2 {
  text-align: center;
}

h2 {
  margin-top: 0;
}

.input-box {
  margin: 0;
  padding: 0 1em 1em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid white;
}

label {
  width: 45%;
}

#transactionID {
  width: 100%;
}


button {
  padding: 1em;
}

input {
  height: 2em;
  font-size: 1.2em;
}

.result-box {
  border: 1px solid white;
  display: flex;
  width: 100%;
  padding: 0 1em;
  justify-content: space-between;
}

.adress-box {
  width: 50%;
}

a {
  line-height: 1.5em;
  text-decoration: none;
  color: white;
}

a:hover {
  background-color: white;
  color: black;
}
